html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 62.5%;
}

body {
  margin: 0;
  max-width: 60rem;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-size: 2.4rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.jaime_anim--full {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 500ms  ease-in-out;
  transition: -webkit-transform 500ms  ease-in-out;
  transition: transform 500ms  ease-in-out;
  transition: transform 500ms  ease-in-out, -webkit-transform 500ms  ease-in-out;
  transition: transform 500ms  ease-in-out, -webkit-transform 500ms ease-in-out;
  z-index: -1;
}

.jaime_anim--empty {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  z-index: 2;
}

.jaime_anim--empty:hover .jaime_anim--full {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "shrikhand", cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-box-shadow: 0rem 0rem .7rem .3rem black;
          box-shadow: 0rem 0rem .7rem .3rem black;
  height: 6.3rem;
}

.header_title {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  opacity: .9;
  height: 5rem;
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
}

.localisation .fas {
  color: #353535;
  margin-left: -2rem;
  margin-right: 2rem;
}

.decouverte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 5.7rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.decouverte_titre {
  width: 70%;
  font-size: 2rem;
  font-weight: 900;
  margin: 4.4rem 0 2rem 0;
}

.decouverte_texte {
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  font-weight: normal;
}

.decouverte_button {
  width: 70%;
  height: 5rem;
  border-radius: 2.5rem;
  background: linear-gradient(356deg, #9356dc, #ff79da);
  color: white;
  border: none;
  font-size: 1.6rem;
}

.fonctionnement {
  padding: 5rem 2rem 4.4rem 2rem;
  font-size: 2rem;
}

.fonctionnement_list {
  width: auto;
  list-style: none;
  padding-left: 1.2rem;
}

.fonctionnement_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  border-radius: 2rem;
  -webkit-box-shadow: 0 .3rem .5rem .3rem #eaeaea;
          box-shadow: 0 .3rem .5rem .3rem #eaeaea;
  background-color: #f6f6f6;
  height: 7.3rem;
  margin-bottom: 2.4rem;
}

.fonctionnement_list_item_numero {
  position: absolute;
  top: 2.4rem;
  left: -1.2rem;
  border-radius: 50%;
  background-color: #9356dc;
  width: 2.4rem;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.fonctionnement_list_item_logo {
  position: absolute;
  top: 2.6rem;
  left: 3.4rem;
  opacity: 1;
  color: #9356dc;
}

.fonctionnement_list_item_texte {
  position: absolute;
  left: 8rem;
  font-weight: bold;
  opacity: 0.9;
  font-size: 1.6rem;
}

.fonctionnement_list_item:hover {
  background: rgba(147, 86, 220, 0.15);
}

.restaurant {
  padding: 5rem 2rem 5rem 2rem;
  font-size: 2rem;
  background-color: #f6f6f6;
}

.restaurant_list {
  list-style: none;
  padding: 0;
}

.restaurant_carte {
  width: 100%;
  position: relative;
  height: 25.2rem;
  display: block;
  margin: 0 0 1.8rem 0;
  -webkit-box-shadow: 0 .3rem .5rem .3rem #eaeaea;
          box-shadow: 0 .3rem .5rem .3rem #eaeaea;
  border-radius: 2rem;
  font-size: 1.6rem;
  background-color: white;
}

.restaurant_image {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
  height: 17.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .isNouveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #008766;
  background-color: #99e2d0;
  width: 8rem;
  height: 3rem;
  border-radius: .5rem;
  font-size: 1.4rem;
}

.restaurant .notNouveau {
  display: none;
}

.restaurant_jaime {
  position: absolute;
  bottom: 3.6rem;
  right: 2.2rem;
}

.restaurant_nom {
  margin: 0;
  padding: 1.8rem 0 0rem 2rem;
}

.restaurant_description {
  margin: 0;
  padding: .5rem 0 1rem 2rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 2.7rem;
}

.footer_title {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  font-family: "shrikhand";
}

.footer_liste {
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.footer_lien {
  text-decoration: none;
  color: white;
}

.footer_logo {
  margin-right: 1rem;
  width: 1.4rem;
}
/*# sourceMappingURL=index.css.map */